.MMM-Fortune .header {
  text-align: center;
  font-size: 15px;
}

/* Fortune text */
.MMM-Fortune h3 {
  font-size: 21px;
  margin: 5px;
}
/* Lucky numbers text */
.MMM-Fortune p.xsmall.bright {
  font-size: 18px;
  margin: 5px;                 
}