.MMM-Fortune .header {
  text-align: center;          /* Aligns header text left, center or right) */
  font-size: 15px;             /* Sets header text size */
}

.MMM-Fortune h3.small {
  font-size: 21px;             /* size for the Fortune text */
  margin: 5px;                 /* Margin between Fortune and Phrases */
}

.MMM-Fortune p.xsmall.bright {
  font-size: 18px;             /* size for Phrase and Lucky Numbers text */
}

.MMM-Fortune p.xsmall.bright {
  font-size: 18px;             /* size for Phrase and Lucky Numbers text */
  margin: 5px;                 /* Margin between Phrase and Lucky Numbers */
}